@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,900');

    body{
        font-family: 'Roboto-Mono', monospace;
        padding: 0;
        margin: 0;
        font-size: 16px;
        -webkit-print-color-adjust:exact;
    }
    
    h1{
        font-size: 2.5em;
        font-weight: bold;
    }
    
    h2{
        font-size: 2.0em;
        color: #EC3A35;
    }
    
    h3{
        font-size: 1.6em;
    }
    
    h4{
        font-size: 1.3em;
    }
    
    .high-text{
        color: #2DC5FA;
        font-weight: bold;
    }
    
    .row-1{
        background-color: #181B23;
    }
    
    .block-1{
        color: #ffffff;
        padding: 15px;
    }
    
    .block-2{
        text-align: center;
        padding: 15px;
    }
    
    .block-2 img{
        width: 75%;
        border: 6px solid #2DC5FA;
        border-radius: 50%;
        padding: 10px;
        background-color: #ffffff;
    }
    
    .block-3 div{
        display: inline-block;
        padding: 0;
    }
    
    .block-3 li{
        list-style-type: none;
        line-height: 2.0em;
    }
    
    .block-3 i{
        margin-right: 10px;
    }
    
    .block-3 a{
        color: #ffffff;
        text-decoration: none;
    }
    
    .block-5 li{
        list-style-type: none;
        display: inline;
        line-height: 3.0em;
        border: 2px solid #EC3A35;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
    }
    
    .block-5 li:hover{
        background-color: #181B23;
        color: #ffffff;
        border: 2px solid #2DC5FA;
    }